.hero-slider-section {
	padding: 0;
}

.hero-slider-wrapper {
	position: relative;
    width: 100%;
}

.hero-slider {
	margin: 0 auto;
	overflow: hidden;
	height: 100vh;
}

.hero-slider-item {
	.img-wrapper {
		width: 100%;
		height: 100vh;
		position: relative;
		//background-color: $silver;

		&::before {
         	content: '';
        	display: block;
         	position: absolute;
         	top: 0;
         	left: 0;
         	width: 100%;
         	height: 100%;
         	background-color: $black;
         	opacity: 0.1;
        }
	}

	.item-1-bg {
		background: url(../images/gallery-image-3.jpg) center / cover no-repeat;
	}

	.item-2-bg {
		background: url(../images/gallery-image-1.jpg) center / cover no-repeat;
		
		&::before {
         	opacity: 0.3;
        }
	}

	.item-3-bg {
		background: url(../images/gallery-image-2.jpg) center / cover no-repeat;

		&::before {
         	opacity: 0;
        }
	}

	.content-wrapper {
		padding: 32px;
		border: 10px solid $silver;
		border-radius: 10px;
		outline: 3px solid $white;
    	outline-offset: -12px;
		width: 900px;
		height: 600px;
		background-color: rgba($black, 0.45);
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		color: $white;

		@include max-mq ($max-tablet) {
			width: 760px;
			height: 500px;
		}

		@include max-mq ($max-mobile) {
			width: 600px;
			height: 450px;
		}

		@include max-mq (620px) {
			width: 350px;
			height: 400px;
			padding: 10px;
		}

		@include max-mq (330px) {
			width: 290px;
			height: 290px;
		}

		.content-inner-wrapper {
			width: 100%;
			text-align: center;

			p {
				font-size: 35px;
				opacity: 0;
				font-family: $font-family-secondary;
				font-weight: 400;

				@include max-mq (620px) {
					font-size: 28px;
				}
			}
		}

		@keyframes zoomIn {
		  from {
		  	transform: scale(0);
		  	opacity: 0;
		  }

		  to {
		  	transform: scale(1);
		  	opacity: 1;
		  }
		}

		@keyframes slide {
		  from {
		  	transform: translateY(100%);
		  	opacity: 0;
		  }

		  to {
		  	transform: translateY(0);
		  	opacity: 1;
		  }
		}
	}
}

.slick-track {
	display: flex;
}

.slick-current {
	.content-inner-wrapper {
  		h1 {
			animation-name: zoomIn;
  			animation-duration: 0.7s;
  			animation-fill-mode: forwards;
		}

		p {
			animation-name: slide;
  			animation-duration: 0.7s;
  			animation-delay: 0.3s;
  			animation-fill-mode: forwards;
  		}
	}
}

.slider-button {
	position: absolute;
    top: 50%;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.5em;
    opacity: 0.75;
    cursor: pointer;
	z-index: 20000;
    background: url(../images/down-arrow-button.svg) no-repeat;
    background-size: contain;

	&:hover {
		opacity: 1;
	}

	@include max-mq (620px) {
		display: none;
	}
}

.slider-button-next {
    right: 0;
    transform: rotate(270deg) translate(50%);
}

.slider-button-prev {
    left: 0;
    transform: rotate(90deg) translate(-50%);
}

.slick-dots {
	position: absolute;
	bottom: 2%;
	text-indent: -9999px;
	display: flex;
	width: 100%;
	justify-content: center;

	li {
		margin: 5px;
		//background-color: transparent;
		border: 1px solid $silver;
		width: 10px;
		height: 10px;
		border-radius: 50%;
		cursor: pointer;
		transition: $transition-base;

		&:hover {
			background-color: $silver;
		}
	}

	.slick-active {
		background-color: $silver;
		transition: $transition-base;
	}
}