@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster-Regular.woff2') format('woff2'),
        url('../fonts/Lobster-Regular.woff') format('woff'),
        url('../fonts/Lobster-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lobster Two';
    src: url('../fonts/LobsterTwo.woff2') format('woff2'),
        url('../fonts/LobsterTwo.woff') format('woff'),
        url('../fonts/LobsterTwo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Comfortaa';
    src: url('../fonts/Comfortaa-Regular.woff2') format('woff2'),
        url('../fonts/Comfortaa-Regular.woff') format('woff'),
        url('../fonts/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}